.card {
	position: relative;
	border: 1px solid purple;
	width: clamp(8em, 20em, 22em);
	height: clamp(8em, 20vh, 30vh);
	padding: 5%;
	margin-bottom: 5%;
	/* padding is 5%, so width is 90% of 50vw */
	/* From https://css.glass */
	/* overflow-x: scroll; */
	word-break: break-word;
	/* overflow-y: hidden; */

	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.card-control-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1001;
	margin: 0.5em;
}

.card-control {
	width: inherit;
	height: inherit;
	position: relative;
	z-index: 1001;
	transition: all 500ms ease-in-out;
}

.card-control.is-hidden > * {
	height: 0;
	transform: scaleY(0);
	display: none;
}

.card-control.is-shown > * {
	height: 100%;
	transform: scaleY(1);
}

.card-control .back-next-container {
	justify-content: space-between;
	width: inherit;
	padding: 0 1em;
	height: inherit;
}

.card-control .back-next-container button {
	font-size: 1.2em;
}

.card-control .btn-container {
	width: inherit;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0.5em;
	padding-right: 1.75em;
}

.card-control .refresh-btn {
	width: fit-content;
	margin-left: 0.5em;
}

.card-control .lock-btn {
	width: fit-content;
	margin-left: 0.5em;
}

.card-control .input-container {
	width: inherit;
	padding: 0 1em;
	font-size: 0.9em;
}
/* ------------------------------------------------- */

.seq-display {
	font-size: clamp(36px, 2rem + 0.5vw, 54px);
}

.info-display {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.5em;

	width: fit-content;
}

.info-display h5 {
	margin: 0;
	width: fit-content;
}

/* <div className="card">
    <div className="category-display">
        <h5>{`${category}:${name}`}</h5>
    </div>
    <div className="display-container">
        <div className="seq-display"></div>
    </div>
    <div className="card-control">
        <button onClick={() => handleBack()}>Back</button>
        <button onClick={() => handleRefresh()}>Refresh</button>
        <button onClick={() => toggleLock()}>Lock</button>
        <section
            className="fr input-container"
            id="practice-input-container"
        >
            <label>Eights per exercise</label>
            <input
                type="number"
                id="practice-eights-input-card"						
            ></input>
        </section>
    </div>
</div> */
