.card {
	position: relative;
	border: 1px solid purple;
	width: 100%;
	height: clamp(8rem, 20vh, 30vh);
	padding: 5%;
	margin-bottom: 5%;
	/* padding is 5%, so width is 90% of 50vw */
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.card-control-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin: 0.5em;
}

.card-control {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	z-index: 0;
	transition: all 500ms ease-in-out;
}

.card-control.is-hidden > * {
	height: 0;
	transform: scaleY(0);
	display: none;
}

.card-control.is-shown > * {
	height: 100%;
	transform: scaleY(1);
}

.seq-display {
	font-size: clamp(36px, 2rem + 0.5vw, 3rem);
}

/* <div className="card">
    <div className="category-display">
        <h5>{`${category}:${name}`}</h5>
    </div>
    <div className="display-container">
        <div className="seq-display"></div>
    </div>
    <div className="card-control">
        <button onClick={() => handleBack()}>Back</button>
        <button onClick={() => handleRefresh()}>Refresh</button>
        <button onClick={() => toggleLock()}>Lock</button>
        <section
            className="fr input-container"
            id="practice-input-container"
        >
            <label>Eights per exercise</label>
            <input
                type="number"
                id="practice-eights-input-card"						
            ></input>
        </section>
    </div>
</div> */
