@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Orbitron&display=swap');

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background:rgb(20, 14, 58);
  cursor: default;
  }

  header {
    position:fixed;
    top:0;
    color:white;
    font-weight: 600;
    background: linear-gradient(180deg, rgb(26, 34, 90) 0%, rgba(58,76,194,1) 21%, rgba(154,82,182,1) 63%, rgb(253, 131, 221) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .page {
  position: relative
  }

  .fc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  
  .fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
  }

  .gradient-display {
    font-size: 2em;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(158,52,147,1) 26%, rgba(253,29,29,1) 66%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* --------------------------------------- */


.input-container{
  position: relative;
  justify-content: space-between;
}

#one-eight-input-container::after{
  content:'s';
  position: absolute;
  right: -0.4em;
  top: 0;
  transform: translate(0,65%);
}


input[type=number] {
  width: 3em;
  padding: 0.4em 0.3em;
  margin: 0.4em;
  display: block;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  margin: 0 0 0 0.1em;
}

/* ----------------------------------------------------------- */
