.main.page {
	display: grid;
	grid-template-areas:
		"pb pb pb"
		". play ."
		". cont ."
		". setting .";
	grid-template-columns: 2em 8fr 2em;
	grid-template-rows: 1em auto 8fr auto;
}

.main.page .progress-container {
	grid-area: pb;
}

.main.page .play-controls {
	grid-area: play;
}

.main.page .card-container {
	grid-area: cont;
}

.main.page .master-settings-btn {
	grid-area: setting;
	justify-content: right;
}
